
<p>
  <a routerLink="/admin/riders/new" class="btn btn-primary">Add Riders</a>
</p>
<p>
  <input
  #query
  (keyup)="filter(query.value)"
  type="text" class="form-control" placeholder="Search...">
</p>

<data-table  id="persons-grid"
headerTitle="Riders"
  [items]="items"
  [itemCount]="itemCount"
  (reload)="reloadItems($event)"


  [rowTooltip]="rowTooltip"
>

<data-table-column
  [property]="'name'"
  [header]="'Name'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

<data-table-column
  [property]="'phone'"
  [header]="'Phone'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

<data-table-column
  [property]="'address1'"
  [header]="'Address 1'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

<data-table-column
  [property]="'address2'"
  [header]="'Address 2'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>

<data-table-column
  [property]="'address3'"
  [header]="'Address 3'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>



<data-table-column
  [property]="'nic'"
  [header]="'NIC'"
  [sortable]="true"
  [resizable]="true"
>
</data-table-column>


<!-- <data-table-column
[property]="'active'"
[header]="'Active'"
[width]="100"
[resizable]="true">
<ng-template #dataTableHeader let-item="item">
    <span>Active</span>
</ng-template>
<ng-template #dataTableCell let-item="item">
    <span style="color: grey">

<span class="button is-small btn-primary" *ngIf='!item.active' (click)='updateActive(false)'>Inactive</span>
<span class="button is-small btn-primary" *ngIf='item.active' (click)='updateActive(true)'>Active</span>

    </span>
</ng-template> -->

<data-table-column
[property]="'active'"
[header]="'Active'"
[width]="100"
[resizable]="true">

<ng-template #dataTableCell let-item="item">
    <span style="color: grey">

<span class="button is-small btn-primary" *ngIf='!item.active' (click)='updateActive(false)'>Inactive</span>
<span class="button is-small btn-primary" *ngIf='item.active' (click)='updateActive(true)'>Active</span>

    </span>
</ng-template>



</data-table-column>



<data-table-column
  [property]="'avgrating'"
  [header]="'AVGRating'"
  [sortable]="true"
  [resizable]="true"
>

</data-table-column>

<data-table-column
  [property]="'$key'"
>
<ng-template #dataTableCell let-item="item">
<a [routerLink]="['/admin/riders/', item.$key]">Edit</a>
</ng-template>
</data-table-column>


</data-table>